@import "../../assets/less/constans";
@import "../../assets/less/mixins";

.main-header {
  width: 100%;
  height: 64px;
  background-color: #fff;
  padding: 10px 27px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #a3d6e2, #0411f9);
    width: 100%;
    height: 4px;
  }
}
